header {
	height: 55px;
	display: flex;
	background-color: #fff;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
}

.left-head {
	display: flex;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
	padding: 10px;
	flex: 2;
}

.right-head {
	display: flex;
	flex: 1;
}

.header-left {
	border: solid 2px yellow;
}
.header-left,
.search,
.left-head,
.right-header {
	display: flex;
}

.search {
	margin-left: 10px;
	justify-content: center;
	width: 100%;
}

.search-logo-btn {
	background-color: white;
	border: solid 1px #7f7f7f;
	border-right: none;
	border-radius: 20px 0 0 20px;
	padding: 10px;
}

.search-bar {
	border: solid 1px #7f7f7f;
	border-left: none;
	border-radius: 0 20px 20px 0;
	color: black;
	width: 100%;
}

.search-bar::placeholder {
	color: #7f7f7f;
	font-size: 1em;
}

.header-middle {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	border: solid 2px red;
	flex: 1;
	margin-left: 50px;
}

.middle-home {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.middle-home img {
	width: 20px;
	height: 20px;
}

span {
	margin: 0;
	font-size: 0.8em;
}
